<div class="book-info">
  <h1 class="book-title"><%= book.title %></h1>

  <div class="description">
    <p><strong>Description:</strong></p>
    <p><%= book.description || "No description available." %></p>
  </div>

  <div class="details">
    <p><strong>Author:</strong> <%= book.author %></p>
    <p><strong>Published Year:</strong> <%= book.published_year %></p>
    <p><strong>ISBN:</strong> <%= book.isbn %></p>
    <p><strong>Pages:</strong> <%= book.pages %></p>
    <p><strong>In Stock:</strong> <%= book.stock %></p>
  </div>

  <div class="genres">
    <% if (book.genres && book.genres.length> 0) { %> <% book.genres.forEach(genre=> { %>
    <span class="genre-badge"> <%= genre %> </span>
    <% }) %> <% } else { %>
    <span>None</span>
    <% } %>
  </div>

  <div class="back-button">
    <a href="/" class="back-link">        
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-icon lucide-arrow-left"><path d="m12 19-7-7 7-7" /><path d="M19 12H5" /></svg>
    </a>
  </div>


</div>
