<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/delete-modals.css" />

    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <%- include('../header') %>

      <div class="main-content">
        <div class="main-content-header">
            <%- include('./filter') %> 
            <%- include('./add-book-button') %>
        </div>
        <%- include('./book-cards') %>
      </div>
      <%- include('../footer') %>
    </div>

    <%- include('../modals/delete-modals') %> 
    <% if (showDeleteFailedModal) { %> 
        <%- include('../modals/delete-failed') %> 
    <% } %>

    <script defer src="/scripts/modal.js"></script>
  </body>
</html>
